[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
alembic = "*"
python-dotenv = "*"
sqlalchemy-utils = "*"
flask-httpauth = "*"
black = "*"
flake8 = "*"
jsonschema = "*"
flask-shell-ipython = "*"
gunicorn = "*"
psycopg2-binary = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
